body,
div {
    margin: 0;
    padding: 0;
}

body {
    background: #F6FAFF;
}

.title {
    font-family: 'Dancing Script', cursive;
}

.photoAndDescription {
    display: flex;
    align-items: center;
}

.profilePhoto {
    width: 20%;
    height: 20%;
    margin: 1%;
}

.descriptionAboutMe {
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    margin: 1%;
    color: black;
}

.myName {
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
    font-weight: bold;

}

.imageContainer {
    flex-wrap: wrap;
    justify-content: center;
}

.portfolioImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body,
div,
.navbar-container,
.headerMenu {
    margin: 0;
    padding: 0;
}

.navbar-container {
    background: #D7C9FF;
}

.resumeInformation {
    font-family: 'Ysabeau', sans-serif;
}

.marginForm {
    margin: 10px;
}

.contactForm {
    margin-left: auto;
    margin-right: auto;
}

footer {
    background: #D7C9FF;
    /* margin-top: auto; */
}

@media (max-width: 1000px) {
    .photoAndDescription {
        flex-direction: column;
        justify-content: center;
    }

    .profilePhoto {
        width: 35%;
        height: 35%;
        margin: 1%;
        align-items: center;
    }

    .descriptionAboutMe {
        font-family: 'Raleway', sans-serif;
        font-size: large;
        margin: 1%;
    }
}

@media (max-width: 768px) {
    .photoAndDescription {
        flex-direction: column;
        justify-content: center;
    }

    .profilePhoto {
        width: 50%;
        height: 50%;
        margin: 1%;
        align-items: center;
    }

    .descriptionAboutMe {
        font-family: 'Raleway', sans-serif;
        font-size: medium;
        margin: 1%;
    }

    .imageContainer {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .portfolioImage {
        width: 300px;
        height: 300px;
    }

}

@media (min-width: 1024px) {
    .portfolioImage {
        width: 400px;
        height: 400px;
    }
}